body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('/public/film-reel.jpeg');
  font-family: "Cormorant";
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


body {

  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Cormorant", serif;
  padding: 0px;
  margin: 0px;
  opacity: 1.0;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant";
  font-weight: 700;
  margin: 0px;
  padding: 0px;
}
